# Archivos de registro
*.log

# Directorio de dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Archivos de caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache

# Directorio de compilación
dist/

# Archivos temporales
*.tmp
*.swp
*.swo
*~.nib

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos y directorios específicos de Visual Studio Code
.vscode/
