# Archivos y directorios generados automáticamente
node_modules/
npm-debug.log
yarn-error.log

# Archivos de configuración del entorno
.env

# Archivos del sistema operativo y del editor de texto
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.bak
*.tmp
*.sublime*
*.iml
.idea/
.vscode/
